@use '../../../../styles/variables.scss' as *;
@use '../../../../styles/mixins.scss' as *;


.dashboards-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: 
    "header header"
    "cards cards"
    "recent perf";
  width: 80vw;
  min-height: 100dvh;
  padding: 1em;

  @include tablet {
    width: 100vw;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "cards"
      "recent"
      "perf";
  }

  @include mobile-lg {
    width: 100vw;
  }

  h2 {
    margin: 10px 0;
    font-family: $font-heading;
    color: rgb(210, 210, 210);
  }

  header {
    grid-area: header;
    margin: 1em;

    h1 {
      font-family: $font-heading;
      font-size: $font-size-3xl;
      color: rgb(210, 210, 210);
    }

    .min-tag {
      text-transform: uppercase;
      font-size: $font-size-sm;
      color: $color-discreet-clarity;
    }
  }

  .main-overview {
    @include flex(center, center);
    width: 100%;
    margin: 0 auto;
    grid-area: cards;

    ul {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;
      list-style: none;
      width: 100%;

      @include tablet {
        grid-template-columns: repeat(2, 1fr);
      }

      @include mobile-lg {
        grid-template-columns: 1fr;
      }


      li {
        width: 100%;
        padding: 1em;
        background-color: $color-surface-light;

        span {
          text-transform: uppercase;
          font-size: $font-size-sm;
          color: $color-discreet-clarity;
        }

        h1 { font-family: $font-heading; }
      }
    }
  }

  .recent-apptm {
    grid-area: recent;
    max-height: 50vh;
    margin: 10px 0;
    overflow-y: hidden;

    .apptm-table {
      border-collapse: collapse;
      
      tr {
        text-align: center;
        font-size: 12px;

        th {
          padding: 0.5em;
          background-color: $color-surface-dark;
          width: 10%;
          text-transform: uppercase;
        }

        td {
          background-color: $color-surface-light;
          height: 10vh;
        }
      }
    }
  }

  .top-perf {
    grid-area: perf;
    height: 50vh;
    margin: 10px;
    overflow-y: hidden;

    ul {
      @include flex(start, center, column);
      gap: 1.5em;
      list-style: none;

      li {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-areas: 
          "img name"
          "img reviews";
        font-family: Arial, Helvetica, sans-serif;

        @include tablet {
          width: 100%;
        }

        .image-container {
          grid-area: img;
          width: 4em;
        }
        
        h3 {
          grid-area: name;
          text-transform: capitalize;
        }

        span {
          grid-area: reviews;
          font-size: $font-size-sm;
          color: $color-primary;
        }
      }
    }
  }
}