@use '../../../../styles/variables.scss' as *;
@use '../../../../styles/mixins.scss' as *;


.adm-apptm-container {
  min-height: 100dvh;
  padding: 1em;

  .search-div {
    @include flex(center, start);
    width: 65%;

    @include tablet {
      width: 80%;
    }
  }

  .apptm-tab-container {
    width: 100vw;

    table {
      border-collapse: collapse;
      width: 80%;

      @include tablet {
        width: 95%;
      }

      th, td {
        width: 10em;
        padding: 0.5em;
        text-align: center;
        text-transform: capitalize;
      }

      thead {
        th {
          background-color: $color-surface-dark;
          text-transform: uppercase;
        }
      }

      tbody {
        .name {
          font-weight: bold;
        }
      }
    }
  }
}
