@use '../../../../styles/variables.scss' as *;
@use '../../../../styles/mixins.scss' as *;


.navbar-container {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  @include tablet {
    @include navbar-styles;
  }

  @include mobile_lg {
    @include navbar-styles;
  }
}