@use './variables.scss' as *;


@mixin mobile-lg {
  @media (max-width: $bp-sm) { // até 480px
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$bp-sm + 1}) and (max-width: $bp-md) { // 481px até 1024px
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$bp-md + 1}) and (max-width: $bp-lg) { // 1025px até 1280px
    @content;
  }
}

@mixin desktop-lg {
  @media (min-width: #{$bp-lg + 1}) and (max-width: $bp-xl) { // 1281px até 1440px
    @content;
  }
}

@mixin tv {
  @media (min-width: #{$bp-xl + 1}) { // 1441px+
    @content;
  }
}


@mixin flex($align: center, $justify: center, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin header {
  h1 {
    font-size: $font-size-3xl;
    font-family: $font-heading;
    font-weight: 500;
    font-style: italic;
  }

  p {
    width: 70%;
    margin: 1rem;
    text-align: center;
    color: $color-text-muted;
  }
}

@mixin title-h2 {
  font-family: $font-heading;
  font-size: $font-size-4xl;
  font-weight: 500;
}

@mixin button {
  all: unset;
  background: linear-gradient(to right, $color-primary, $color-secondary);
  padding: $spacing-md;
  text-transform: uppercase;
  color: $color-surface;
  font-weight: 600;
  transition: ease-in-out 0.5s;
  cursor: pointer;

  &:hover {
    background: linear-gradient(to right, $color-tertiary, $color-primary-hover);
  }
}